<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }} | 181 Grafton Road, Auckland</title>
	<link rel="home" href="{{ siteUrl }}" />

	<link rel="shortcut icon" href="/favicon.ico" >
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png"/>
	<link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png"/>
	<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png"/>
	<link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png"/>

	<meta property="og:title" content="Welcome Eatery"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://welcomeeatery.co.nz/"/>
	<meta property="og:description" content="We named ourself Welcome so you'd feel just that."/>
	<meta property="og:image" content="http://welcomeeatery.co.nz/img/social.jpg"/>
	<meta property="og:site_name" content="Welcome Eatery"/>

	<script src="//use.typekit.net/ihj1pzc.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

    {% includeCssFile "/assets/styles/style.css?v=1" %}
    {% includeCssFile "/royalslider/royalslider.css" %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	{% includeJsFile "/assets/js/main.js?v=1" %}
	{% includeJsFile "/royalslider/jquery.royalslider.min.js" %}
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-65829401-1', 'auto');
	  ga('send', 'pageview');

	</script>

</head>

<body class="{{ entry.title|lower }}-page">
	<div id="page" class="site">
		<header id="header">
		</header>

		<div id="content" class="site-content">
			{% block content %}
			{% endblock %}
		</div>

		<footer id="colophon" class="site-footer">
			<div class="site-info">
			</div>
		</footer>
	</div>
</body>
</html>
