{% extends "_layout" %}

{% block content %}

<section class="page">
	<ul class="royalSlider rsDefault">
        {% for block in entry.imageSlider %}
            {% set images = block.images %}
            {% if images and images|length %}
                <li>
                    {% for image in images %}
                        <img src="{{ image.getUrl('imageSlider') }}" title="{{ block.imageTitle }}" alt="{{ block.imageTitle }}">
						<div class="rsSBlock"><img src="/assets/img/welcome.svg" alt="Welcome" title="Welcome" width="1184" height="152"></div>
                    {% endfor %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

<h1 class="meta" style="display: none; font-size: 0; height: 0;">We named ourself Welcome so you&#8217;d feel just that. 181 Grafton Rd, Auckland, 1010. Orion Health Building. Monday — Friday, 7:30am till 4pm.</h1>
<div class="dia"></div>
	<section class="info">
		<ul class="infoHold"><li>
			<img src="/assets/img/welcome-eatery.svg" alt="Welcome Eatery" title="Welcome Eatery" width="276" height="248" />
			</li><li>
			<div class="line"></div>
			<h2>{{ entry.location|upper }}</h2>
			<h3>{{ entry.building }}</h3>
			<p>FOR ALL ENQUIRIES &#038; BOOKINGS PLEASE EMAIL <a href="{{ entry.enquiries }}">{{ entry.enquiries|upper }}</a></p>
			<div class="line"></div>
			</li><li>
			<div class="line"></div>
			<h2>{{ entry.hoursTitle|upper }}</h2>
			<h3>{{ entry.days }}</h3>
			<p>INSTAGRAM <a href="{{ entry.instagramLink }}" target="_blank">{{ entry.instagramTitle|upper }}</a></p>
			{#FACEBOOK <a href="{{ entry.facebookLink }}" target="_blank">{{ entry.facebookTitle|upper }}</a></p>#}
			<div class="line"></div>
			</li>
		</ul>

		<ul class="menus"><li>
			<a class="button one" href="/pdf/welcome-catering-menu.pdf" target="_blank">CATERING INFO</a>
			</li><li>
				{% if entry.foodPdf|length %}
				    {% for asset in entry.foodPdf %}
						<a class="button" href="{{ asset.url }}" target="_blank">FOOD MENU</a>
				    {% endfor %}
				{% endif %}
			</li><li>
				{% if entry.drinksPdf|length %}
				    {% for asset in entry.drinksPdf %}
						<a class="button" href="{{ asset.url }}" target="_blank">DRINKS MENU</a>
				    {% endfor %}
				{% endif %}
			</li>
		</ul>
	</section>
</section><!-- #post-## -->

{% endblock %}
